include README.md CHANGELOG.md LICENSE src/aircot/VERSION src/aircot/data/*
graft src
recursive-include src/aircot/data *.csv *.txt
recursive-include aircot/data *.csv *.txt
include src/aircot/data *.csv *.txt
